:root {
  --clr-1: rgb(211, 7, 7);
  --clr-1-dark: rgb(161, 0, 0);
  --clr-2: rgb(235, 235, 235);
  /* --clr-2: white; */
  --clr-3: rgb(134, 134, 134);
  --font-1: 'Josefin Sans', sans-serif;
  --font-2: 'Fira Sans Condensed', sans-serif;
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: var(--font-2);
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--clr-2);
}

.navbar {
  position: absolute;
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-2);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 350px) {
  nav {
    gap: 3rem;
  }
}
@media (min-width: 925px) {
  nav {
    gap: 5rem;
  }
}
.nav-link {
  width: 9rem;
  text-align: center;
}
.link-button {
  padding: 0.5rem 0.7rem;
  border: 2px solid var(--clr-2);
  background: var(--clr-1);
  color: var(--clr-2);
  text-decoration: none;
  transition: all 0.1s;
}
@media (hover: hover) {
  .link-button:hover {
    background: var(--clr-2);
    color: var(--clr-1);
  }
}

main {
  --content-margin: 2rem;
}
section {
  padding: 10rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section:nth-child(odd) {
  background: var(--clr-1);
  color: var(--clr-2);
}
section:nth-child(even) {
  background: var(--clr-2);
  color: var(--clr-1);
}
.section-innerContainer {
  margin: 0 var(--content-margin);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin: auto;
  padding: 2.5rem 1rem 0;
  max-width: max-content;
  font-family: var(--font-1);
  font-size: 3.9rem;
  background: var(--clr-2);
  color: var(--clr-1);
}
h2 {
  margin: auto;
  padding: 1.2rem 1.5rem 0.5rem;
  width: max-content;
  max-width: 100%;
  font-family: var(--font-1);
  font-size: 2.6rem;
}
p {
  margin: auto;
  max-width: 65ch;
  font-size: 1.6rem;
  line-height: 2rem;
}
p:not(p:first-of-type) {
  margin-top: 2rem;
}
@media (min-width: 365px) {
  h1 {
    margin-left: 0;
    font-size: 4.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 450px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    padding: 1.2rem 2rem 0.5rem;
    font-size: 2.7rem;
  }
}
@media (min-width: 500px) {
  h1 {
    font-size: 6.8rem;
  }
  h2 {
    padding-top: 1.5rem;
    font-size: 3rem;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    padding-top: 1.5rem;
    font-size: 3.4rem;
  }
  p {
    font-size: 1.8rem;
  }
}
@media (min-width: 750px) {
  main {
    --content-margin: 4rem;
  }
  h1 {
    padding: 3rem 1rem 0;
    font-size: 10rem;
  }
  h2 {
    padding-top: 2rem;
    font-size: 5rem;
  }
  p {
    padding: 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 925px) {
  h1 {
    padding: 4rem 4rem 0;
    font-size: 12rem;
  }
  h2 {
    padding: 1.2rem 5rem 0.5rem;
  }
}
@media (min-width: 1208px) {
  main {
    --content-margin: 6rem;
  }
  h1 {
    padding: 4rem 4rem 0;
    font-size: 16rem;
  }
  h2 {
    padding-top: 2.2rem;
    font-size: 6rem;
  }
  p {
    padding: 0;
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
a:not(.link-button) {
  padding: 0 0.3rem;
  display: inline-block;
  text-decoration: none;
  background: var(--clr-1);
  color: var(--clr-2);
  border: none;
}
a:not(.link-button):active {
  color: var(--clr-1-dark);
}
@media (hover: hover) {
  a:not(.link-button):hover {
    background: var(--clr-1-dark);
  }
}

/* WELCOME SECTION START */
#welcome-section {
  height: calc(100vh);
  background: var(--clr-1);
}
.welcome-innerContainer > h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: var(--clr-2);
  color: var(--clr-1);
}
#welcome-section > div > p {
  margin-left: 0;
  text-align: center;
}
@media (max-width: 364px) {
  .welcome-innerContainer > h2 {
    font-size: 2rem;
  }
}
@media (min-width: 365px) {
  .welcome-innerContainer > h2 {
    margin-left: 0;
  }
  #welcome-section > div > p {
    text-align: left;
  }
}
@media (min-width: 500px) {
  .welcome-innerContainer > h2 {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 750px) {
  .welcome-innerContainer > h2 {
    margin-bottom: 3rem;
  }
}
/* WELCOME SECTION END */

/* PROJECTS SECTION START */
.projects-innerContainer {
  width: min(calc(100% - calc(var(--content-margin) * 2)), 80rem);
}
.projects-innerContainer > h2 {
  padding-top: 0;
}
.projects-innerContainer > p {
  padding: 0 2rem;
}
.projects-grid {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-items: center;
  gap: 2.5rem;
}
@media (min-width: 625px) and (max-width: 850px) {
  .projects-innerContainer {
    width: min(calc(100% - calc(var(--content-margin) * 5)), 80rem);
  }
}
.projects-card {
  width: 24rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0.2rem var(--clr-3);
  transition: all 0.15s;
}
@media (hover: hover) {
  .projects-card:hover {
    transform: scale(1.05);
  }
}
.projectCard-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: top;
  background: var(--clr-3);
}
.projectCard-textWrapper {
  padding: 0.5rem 1.6rem 0.4rem;
  height: 10.8rem;
  font-size: 2.4rem;
}
.projectCard-topRow {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}
.projectCard-nameWrapper > a {
  padding: 0.1rem 0.3rem;
  background: var(--clr-1);
  color: var(--clr-2);
  border: none;
}
.projectCard-link-disabled {
  /* color: var(--clr-1-dark); */
}
h3 {
  text-transform: capitalize;
}
a.projectCard-githubLink {
  display: flex;
  align-items: center;
  border-bottom: none;
}
a.projectCard-githubLink > span {
  padding-left: 0.1rem;
}
.projectCard-p {
  padding: 0;
  font-size: 1.3rem;
  line-height: normal;
  text-align: left;
}
p.projectCard-p.projectCard-smallerFontParagraph {
  font-size: 1.1rem;
}
/* PROJECTS SECTION END */

/* CONTACT SECTION START */
#contact-section {
  text-align: left;
}
.contact-linkWrapper {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
}
.contact-linkWrapper:first-of-type {
  margin-top: 2rem;
}
.contact-linkWrapper > a {
  font-size: 1.3rem;
}
.contact-link.link-button {
  background: var(--clr-2);
  color: var(--clr-1);
}
@media (hover: hover) {
  .contact-link.link-button:hover {
    background: var(--clr-1);
    color: var(--clr-2);
  }
}
.contact-link > span {
  margin-right: 0.4rem;
  width: 2.5rem;
  text-align: center;
}
@media (min-width: 600px) {
  .contact-linkWrapper > a {
    font-size: 1.6rem;
  }
}
@media (min-width: 750px) {
  .contact-linkWrapper {
    margin-top: 3rem;
  }
  .contact-linkWrapper:first-of-type {
    margin-top: 3rem;
  }
  .contact-linkWrapper > a {
    font-size: 2rem;
  }
  .contact-link > span {
    margin-right: 1rem;
    width: 2.5rem;
    text-align: center;
  }
}
/* CONTACT SECTION END */
