:root {
  --clr-1: rgb(211, 7, 7);
  --clr-2: rgb(235, 235, 235);
  /* --clr-2: white; */
  --clr-3: rgb(172, 172, 172);
  --font-1: 'Josefin Sans', sans-serif;
  --font-2: 'Fira Sans Condensed', sans-serif;
  font-size: 62.5%;
  background: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: var(--font-2);
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--clr-2);
}

.navbar {
  position: absolute;
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-2);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.link-button {
  padding: 0.5rem 0.7rem;
  border: 2px solid var(--clr-2);
  background: var(--clr-1);
  color: var(--clr-2);
  text-decoration: none;
  transition: all 0.1s;
}
@media (hover: hover) {
  .link-button:hover {
    background: var(--clr-2);
    color: var(--clr-1);
  }
}

section {
  padding: 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section:nth-child(odd) {
  background: var(--clr-1);
  color: var(--clr-2);
}
section:nth-child(even) {
  background: var(--clr-2);
  color: var(--clr-1);
}
.section-innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-size: 6rem;
}
p {
  margin: auto;
  max-width: 65ch;
  line-height: 2.8rem;
}
p:not(p:first-of-type) {
  margin-top: 2rem;
}
a:not(.link-button) {
  color: inherit;
}
a:not(.link-button):active {
  color: var(--clr-3);
}
@media (hover: hover) {
  a:not(.link-button):hover {
    color: var(--clr-3);
  }
}

/* WELCOME SECTION START */
#welcome-section {
  height: calc(100vh);
  background: var(--clr-1);
}
h1 {
  padding: 4rem 4rem 0;
  font-family: var(--font-1);
  font-size: 16rem;
  background: var(--clr-2);
  color: var(--clr-1);
}
h2 {
  padding: 2rem 2rem 0.5rem;
  font-family: var(--font-1);
  font-size: 6rem;
}
h1 + h2 {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  width: max-content;
  background: var(--clr-2);
  color: var(--clr-1);
}
#welcome-section > div > p {
  margin-left: 0;
  text-align: left;
}

/* WELCOME SECTION END */

/* PROJECTS SECTION START */
/* PROJECTS SECTION END */

/* CONTACT SECTION START */
#contact-section {
  text-align: left;
}
.contact-linkWrapper {
  margin: auto;
  margin-top: 3rem;
  width: 80%;
}
.contact-linkWrapper:first-of-type {
  margin-top: 3rem;
}
.contact-link.link-button {
  background: var(--clr-2);
  color: var(--clr-1);
}
@media (hover: hover) {
  .contact-link.link-button:hover {
    background: var(--clr-1);
    color: var(--clr-2);
  }
}
.contact-link > span {
  margin-right: 1rem;
  width: 2.5rem;
  text-align: center;
}
/* CONTACT SECTION END */
