:root {
  --clr-1: rgb(211, 7, 7);
  --clr-2: rgb(235, 235, 235);
  /* --clr-2: white; */
  --clr-3: rgb(172, 172, 172);
  --font-1: sans-serif;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: var(--font-1);
  color: var(--clr-2);
}

.navbar {
  position: absolute;
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-2);
}
nav {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

section {
  padding: 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section:nth-child(odd) {
  background: var(--clr-1);
  color: var(--clr-2);
}
section:nth-child(even) {
  background: var(--clr-2);
  color: var(--clr-1);
}
.section-innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-size: 6rem;
}
p {
  margin: auto;
  max-width: 75ch;
}
a {
  color: inherit;
}
a:active {
  color: var(--clr-3);
}
@media (hover: hover) {
  a:hover {
    color: var(--clr-3);
  }
}

/* WELCOME SECTION START */
#welcome-section {
  height: calc(100vh);
  background: var(--clr-1);
}
h1 {
  font-size: 16rem;
}
h1 + h2 {
  margin-top: -2rem;
  margin-bottom: 5.5rem;
  font-size: 6rem;
}
p:last-of-type:not(p:first-of-type) {
  margin-top: 2rem;
}
/* WELCOME SECTION END */

/* PROJECTS SECTION START */
/* PROJECTS SECTION END */

/* CONTACT SECTION START */
#contact-section {
  text-align: left;
}
.contact-link {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  display: block;
}
.contact-link:first-of-type {
  margin-top: 2.5rem;
}
.contact-link > span {
  margin-right: 1rem;
  width: 2.5rem;
  text-align: center;
}
/* CONTACT SECTION END */
